@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;900&display=swap");

:root {
  --clr-main: linear-gradient(
    90deg,
    rgba(255, 122, 0, 1) 50%,
    rgba(252, 164, 69, 1) 100%
  );
  --clr-white: #fff;
  --clr-white-off: #ededed;
  --clr-black: #000;
  --clr-black-off: #232323;

  --shad-black: 2px 2px 10px 2px #00000055;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6rem;
  background: var(--clr-white-off);
}

h1,
h2,
h3 {
  line-height: 2rem;
  font-weight: 500;
}

.header {
  background: var(--clr-main);
  position: relative;
  z-index: 99;
}

.header-form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 1rem;
}

.form-select-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-label {
  color: var(--clr-white-off);
}

.form-select {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 5px;
  color: var(--clr-black-off);
  border: none;
  background-color: var(--clr-white-off);
  margin-top: 5px;
}

/* card container */
.container {
  margin: 3rem auto;
  height: 400px;
  width: 300px;
  perspective: 1000px;
  z-index: -99;
}

.card-shuffle-back {
  cursor: pointer;
  animation: 1000ms ease-in 0ms shuffleback;
}

.card-shuffle-forward {
  animation: 500ms ease 500ms shuffleforward;
}

.flashcard-container {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

.flashcard {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--shad-black);
  background: var(--clr-main);
  position: absolute;
  text-align: center;
  color: var(--clr-white-off);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backface-visibility: hidden;
}

.flashcard-back {
  transform: rotateY(180deg);
}

.flashcard-flipped {
  transform: rotateY(180deg);
}

.flashcard-behind {
  bottom: 0;
  left: 0;
  z-index: -10;
}

.card-word-txt {
  padding-top: 120px;
  font-size: 2rem;
}

.reveal-txt {
  font-size: 1rem;
  color: var(--clr-white-off);
  opacity: 0.5;
}

.reveal-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@keyframes shuffleback {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-105%);
    z-index: 0;
  }
  51% {
    z-index: -20;
  }
  100% {
    transform: translateX(0%);
    z-index: -20;
  }
}
@keyframes shuffleforward {
  0% {
    transform: scale3d(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/* controls */
.controls-container {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  width: 90%;
  border-radius: 10px;
  background-color: var(--clr-black-off);
  color: var(--clr-white-off);
}

.controls-btn {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--clr-white-off);
  margin: 0 20px 10px 20px;
  height: 30px;
  width: 150px;
}

.correct-btn {
  background-color: rgb(54, 200, 54);
}

.correct-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.incorrect-btn {
  background-color: rgb(243, 49, 49);
}

.incorrect-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.counters {
  margin-top: 10px;
}

/* footer */
.footer {
  background: var(--clr-main);
  height: 100px;
  text-align: center;
  margin-top: 3rem;
}

.footer-link {
  position: relative;
  top: 40%;
  text-decoration: none;
  color: var(--clr-white-off);
}
