// *** variables *** //

$clr-main: linear-gradient(
  90deg,
  rgba(255, 122, 0, 1) 50%,
  rgb(255, 147, 32) 100%
);
$clr-white: #fff;
$clr-white-off: #ededed;
$clr-black: #000;
$clr-black-off: #232323;
$shad-black: 2px 2px 3px 1px #00000055;

// *** mix-ins *** //

@mixin flex-center($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex-space($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin contorl-btn($color, $bg-color) {
  background: $bg-color;
  color: $color;

  @include flex-center(row, 10px);
  @include font(1.2rem, 600);

  border: none;
  border-radius: 3px;
  color: $clr-white;
  width: 170px;
  height: 40px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  & img {
    width: 20px;
  }
}

// *** standards *** //

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6rem;
  background: $clr-white-off;
}

h1 {
  @include font(2.25rem, 600);
}

p {
  @include font(1rem, 400);
}
